// Block Image section styles
.block-image-hero {
  text-align: center;
  padding: 1rem;
  img {
    display: block;
    margin: 0 auto;
    @include media-lg {
      width: 90%;
    }
    @include media-xl {
      width: 90%;
    }
  }

  p {
    padding: 1rem;
    line-height: 1.5;
    color: $textColor;
    @include media-md {
      font-size: 1rem;
    }
    @include media-lg {
      display: block;
      width: 70%;
      margin: 0 auto;
      font-size: 1.5rem;
    }
    @include media-xl {
      display: block;
      width: 50%;
      margin: 0 auto;
      font-size: 2rem;
    }
  }
}

// Block Image Grid styles
.grid-wapper {
  position: relative;
  .image-block-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, max-content);
    grid-gap: 5px;
    padding: 1rem;
    @include media-lg {
      width: 87%;
      margin: 0 auto;
    }

    &__one {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    &__two {
      grid-column-start: 1;
      grid-column-end: 7;
    }

    &__three {
      grid-column-start: -1;
      grid-column-end: 7;
    }
  }
}
